.feature-section-container {
    background-color: #f7f7f7;
}
.feature-section {
    /* padding: 20rem 15rem; */
    padding: 35rem 10rem;
    /* background-image: linear-gradient(to right bottom, rgba(179, 255, 171, .7), */
    /*                                   rgba(18, 255, 247, .7)), */
    /*                   url(../img/login.jpg); */
    background-blend-mode: hue;

    background-image: url(https://source.unsplash.com/featured/?jam,red);
    background-size: cover;
    background-position: center;
    color: rgba(226,234,8);
    text-align: center;
    transform: skewY(-7deg);
    height: 50%;
    /* other way of doing same transformation */
    /* clip-path: polygon(0 0,100vh -20%, 100% -20%, 100%, 100%); */
    /* clip-path: polygon(0 20vh, 100% 0,100% 75vh, 0 100% ); */
}

.feature-section > * {
    transform: skewY(7deg);
}


