.profile-page-row-2 {
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

.profile-info  {
    display: block;
    margin-top: 10rem;
    width: 60%;
    margin-left: 10rem;
}

.profile-info h1 {
    color: #d54d7b; font-family: "Great Vibes", cursive;
    font-size: 10.5rem;
    line-height: 10rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

.profile-info p {
    color: #7a7c7f;
    font-size: 2.9rem;
    font-family: "Libre Baskerville", serif;
    line-height: 4.5rem;
    text-align: left;
    text-shadow: 0 .1rem .1rem #fff;
    padding-top: 2rem;
}

.profile-image-heading {
    margin-top: 2rem;
}

.profile-page-image {
    object-fit: scale-down;
    padding:2rem;
    /* width: 90%; */
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: top;
    filter: grayscale(80%);
    box-shadow: 0 1.5rem 4rem rgb(0,0,0, 0.4);
    border-radius: 2px;
    transition: all 2s;
}

.profile-page-image:hover {
    filter: grayscale(0);
    animation-duration: .1s;
    transform: scale(1.05);
}

.profile-page-image-left {
    margin-top: 15rem;
}

.profile-page-image-right {
    top: 10rem;
}

.profile-page-image-left-bottom {
    margin-top: 0rem;
}

.profile-page-image-right-bottom {
    margin-top: 10rem;
}
